<%= form_tag "/feeds", method: "post" do %>
  <input type="hidden" name="location" value="<%= @location.id %>">
  <input type="hidden" name="name" value="<%= @location.name %>">
  <input type="submit" value="Subscribe">
<% end %>

<ul>
<% @feed.each do |photo| %>
  <li><%= image_tag photo.images.low_resolution.url %></li>
<% end %>
</ul>
